<h2>Create your Account</h2>
<p>Please select whether you are a student or an alumni.</p>
<div class="role-selection">
  <%= link_to "I'm a Student", new_alumnus_path, class: "btn btn-primary" %>
  <%= link_to "I'm an Alumni", new_alumnus_path, class: "btn btn-secondary" %>
</div>