<div class = registrations-choose>
  <%= image_tag("logo2.png", alt: "Sling health", class: "registrations-logo2") %>
  <div class = registrations-content>
    <h2 class = registrations-title1>Create your Account</h2>
    <p class="registrations-title2">
      Please select whether you are a 
      <span class="student-text">student</span> or an 
      <span class="alumni-text">alumni</span>
    </p>
    <div class="role-selection">
      <%= button_to "I'm a Student", register_student_path, class: "role-btn", method: :get %>
      <%= button_to "I'm an Alumni", new_alumnus_path, class: "role-btn", method: :get%>
    </div>
  </div>
</div>