<p style="color: green"><%= notice %></p>

<% content_for :title, "Students" %>

<h1>Students Page</h1>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<%= link_to "Sign Out", destroy_gmail_session_path %>