<% content_for :title, "Editing alumnus" %>

<h1>Editing alumnus</h1>

<%= render "form", alumnus: @alumnus if @alumnus.present? %>

<br>

<div>
  <%= link_to "Show this alumnus", @alumnus %> |
  <%= link_to "Back to alumni", alumni_path %>
</div>
