<p style="color: green"><%= notice %></p>

<% content_for :title, "Alumni" %>

<h1>Alumni Page</h1>

<h1>You're logged in! Welcome to the Dashboard!</h1>
<%= link_to "Sign Out", destroy_gmail_session_path %>

<%= link_to "New alumnus", new_alumnus_path %>
