<p style="color: green"><%= notice %></p>

<% content_for :title, "Alumni" %>

<h1>Alumni Page</h1>

<h1>You're logged in! Welcome to the Dashboard!</h1>


<div id="alumni">
  <% @alumni.each do |alumnus| %>
    <%= render alumnus %>
    <p>
        <% if @current == alumnus %>
            <%= link_to "Show this alumnus", alumnus %>
        <% end %>
    </p>
  <% end %>
</div>

<%= link_to "Sign Out", destroy_gmail_session_path %>