<h1>Sling Health TAMU</h1>
<h2>Alumni Tracker</h2>

<%= button_to gmail_google_oauth2_omniauth_authorize_path, class: "btn btn-danger", method: :post, data: {turbo: "false"} do %>

<i class="fab fa-google mobile-text"></i><span class = "mobile-
font">&nbsp;Sign In</span>

<% end %>
