<div class="user-guide-container">
  <h1>User Guide</h1>
  <p>Click below to view or download the User Guide:</p>
  <%= link_to "View User Guide PDF", "/documents/Alumni_Tracker_User_Guide.pdf", class: "guide-link", target: "_blank" %>
</div>